<form [formGroup]="editDialogform" (ngSubmit)="onSubmit(editDialogform)">
  <div class="modal-content">
    <app-custom-modal-header
      [modalTitle]="translations[appLang][data.title]"
      [appLang]="appLang"
    >
    </app-custom-modal-header>

    <div class="modal-body">
      <div class="col-md-12">
        <app-language-bar
          (childChangeLangEvent)="changeLang($event)"
          [lang]="lang"
          [langArr]="langArr"
        >
        </app-language-bar>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div *ngFor="let language of languageArr">
            <mat-form-field
              [ngClass]="appLang === 'ar' && 'rtl'"
              *ngIf="language.acronym.toLowerCase() == lang"
              appearance="outline"
              class="col-md-12">
              <mat-label for="lk_livingStatus">{{ translations[appLang]['Living Status'] }}</mat-label>
              <input
                matInput
                [ngClass]="{'text-right': lang === 'ar'}"
                formControlName="{{ language.acronym + '_livingStatus' }}"
                placeholder="{{ translations[appLang]['Please enter Living Status'] }}"
                id="{{ language.acronym + 'lk_livingStatus' }}"
              />
            </mat-form-field>
          </div>

        </div>

        <div class="col-md-12 mb-3">
          <mat-checkbox
            id="isActive"
            class="checkbox-margin"
            formControlName="isActive"
            color="primary"
          >
            {{ translations[appLang]['Active'] }}
          </mat-checkbox>
        </div>
        
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-between" [ngClass]="appLang === 'ar' && 'rtl'">
      <button
        type="button"
        (click)="onNoClick()"
        class="btn btn-secondary"
        data-dismiss="modal"
      >
        {{ translations[appLang]['Cancel'] }}
      </button>
      <button type="submit" class="btn btn-primary">
        {{ translations[appLang]['Save'] }}
      </button>
    </div>
  </div>
</form>
