<nav class="navbar navbar-expand-lg navbar-light m-0 p-2">
  <h4>{{ getTranslation('Language types') }}</h4>
</nav>

<div class="col-md-12 p-0 languages">
  <div class="control-wrapper">
    <app-custom-search-box (onFilterFunc)="applyFilter($event)">
    </app-custom-search-box>

    <div class="control-wrapper__right">
      <button
        type="button"
        (click)="newLanguage()"
        class="btn bg-transparent navbar-brand"
        data-toggle="modal"
        data-target="#newEntry"
      >
        <i class="fas fa-plus-circle"></i
        ><span class="h6" [ngClass]="appLang !== 'ar' ? 'pl-2' : 'pr-2'">{{ getTranslation('Create New') }}</span>
      </button>
    </div>
  </div>

  <div class="table-custom-responsive">
    <table [ngClass]="appLang === 'ar' && 'rtl'"
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8 table-strip"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          No
        </th>
        <td mat-cell *matCellDef="let element; let i = index">{{ paginator._pageIndex * paginator.pageSize + i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="langs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ getTranslation('Type') }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ getTranslation(element.name) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="working">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ getTranslation('Working language') }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.isWorking ? getTranslation('Yes') : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="official">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ getTranslation('Official language') }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.isOfficial ? getTranslation('Yes') : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>{{ 'Status' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive ? 'Active' : 'InActive' }}
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>{{ 'Edit' | translate }}</th>
        <td mat-cell class="description-cell" *matCellDef="let row">
          <i
            class="fa fa-edit table-icon"
            aria-hidden="true"
            title="Edit"
            (click)="rowClicked(row, null)"
          ></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>{{ getTranslation('Delete') }}</th>
        <td mat-cell class="description-cell" *matCellDef="let element; let i = index">
          <i
            class="fa fa-trash table-icon"
            aria-hidden="true"
            title="Delete"
            (click)="openDeleteLanguageDialog(i, null)"
          ></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          let i = index;
          let even = even;
          columns: displayedColumns
        "
        [ngClass]="{ gray: even }"
        (dblclick)="rowClicked(row, i)"
      ></tr>
    </table>
  </div>
  <mat-paginator
    [ngClass]="appLang === 'ar' && 'rtl'"
    [length]="dataSource.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
