$white: #FFFFFF;
$white-70: #FFFFFFB3;
$black: #000000;

// text colors
$text-primary: #27AAE1;
$text-primary-dark: #02679D;

$text-success: #7CB970;

$text-dark: #222222;
$text-dark-80: #222222CC;
$text-dark-60: #22222299;
$text-dark-50: #22222280;
$text-dark-40: #22222266;
$text-dark-30: #2222224D;
$text-dark-20: #22222233;

// background colors
$bg-primary: #27AAE1;
$bg-primary-10: #27AAE11A;

$bg-success: #7CB970;
$bg-success-5: #7CB9700D;

$bg-secondary: #02679D;
$bg-secondary-10: #02679D1A;

$bg-dark-30: #2222224D;
$bg-dark-10: #2222221A;
$bg-grey: #EAEAEA;

$bg-info: #B9D2DC;

// border colors
$border-primary: #27AAE1;
$border-secondary: #02679D;

$border-dark-60: #22222299;
$border-dark-20: #22222233;
$border-dark-10: #2222221A;

$border-grey: #707070;
$border-grey-50: #70707080;