<div class="modal-content">
  <app-custom-modal-header
  [modalTitle]="getTranslation('Delete Confirmation')"
  >
  </app-custom-modal-header>
  <div class="container text-center mt-4 mb-4">
    <h4>{{ getTranslation('Are you sure you want to proceed?') }}</h4>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button
      tyh1e="button"
      mat-button
      mat-dialog-close
      cdkFocusInitial
      class="btn btn-secondary"
      data-dismiss="modal"
    >
      Cancel
    </button>
    <button mat-button class="btn btn-primary" (click)="delete(data.index, data.routeName)" mat-dialog-close>
      Delete
    </button>
  </div>
</div>
