.measure-dialog {
  .input-wrapper {
    input {
      margin: 7px 0px 0 15px;
    }
    label {
      width: 55px;
    }
  }
}
.mat-form-field.rtl {
  input {
    text-align: right;
  }
}
.modal-footer.rtl {
  flex-direction: row-reverse;
  .btn-secondary {
    margin: 0 0 0 42px;
  }
}
