.xmljson-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.xmljson-radio-button {
  margin: 5px;
}

.smallTxt {
  font-size: small;
  text-decoration: bold;
}

.report-desc {
  white-space: pre-wrap;
  word-break: break-all;
}
