.roles-list {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

.table-custom-responsive {
  display: flex;
  overflow: auto;
  height: 100%;
}

table {
  box-shadow: none;
  &.rtl {
    text-align: right;
    .mat-header-cell {
      text-align: right;
    }
  }
}

.mat-paginator {
  &.rtl {
    direction: ltr;
    display: flex;
  }
}

::ng-deep .mat-dialog-container{
  padding: 0 !important;
  border-radius: 12px !important;
}
